html, body {
  margin: 0;
  height: 100%;
}

path {
  stroke:rgb(255, 255, 255);
  stroke-width: 3.5px;
}

body {
  background-color: rgb(230,230,230);
}

.flex-container {
  display: flex;
}

h2 {
  color: #55007f;
  font-family: verdana;
  font-size: 100%;
}

.node {
  fill: steelblue;
  stroke: none;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 5px;
}

#chart {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 6px;
}

text {
  pointer-events: none;
}

.grandparent text {
  font-weight: bold;
}

rect {
  fill: none;
  stroke: #fff;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

rect.parent {
  pointer-events: none;
}

.grandparent rect {
  fill: orange;
}

.grandparent:hover rect {
  fill: #ee9700;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children rect.parent {
  fill: #bbb;
  fill-opacity: .5;
}

.children:hover rect.child {
  fill: #bbb;
}
